<ion-header>
  <ion-toolbar class="toobarColor">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #fff"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list >
      <ion-item-sliding *ngFor="let item of bolos">
        <ion-card href="bolo-details/{{item.id}}">
          <img [src]="item.imagem" alt="" />
          <ion-card-header>
            <ion-card-title>{{ item.nome }}</ion-card-title>
            <ion-card-subtitle>apenas R$ {{ item.valor }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>{{ item.descricao }}</p>
          </ion-card-content>
        </ion-card>
      </ion-item-sliding>
    </ion-list>
</ion-content>
