<ion-header>
  <ion-toolbar class="toobarColor">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #ff8000"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ bolo.nome }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="bolo.imagem" alt="" style="width: 100%" />
    
    <ion-card>
      <ion-card-content>
        <p>{{ bolo.descricao }}</p>
      </ion-card-content>
    </ion-card>

    <h3 class="price"> 
      R$ {{ bolo.valor }},00
    </h3>

    <ion-button expand="block" class="p10 btn-add-cart" href="cart/{{bolo.id}}">Colocar no carrinho</ion-button>
      
</ion-content>
